.wrapper {
    border: 1px solid red;
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.315);
    width: 450px;
    margin-right: 20px;
    position: sticky;
}

.movieImage {
   width: 100%;
   border-radius: 20px;
}

.favorite {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.favoriteHover{
    background-color: red;
}

.favoriteClicked {
    background-color: red;
}

