.container{
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
    height: 900px;
}

.wrapper {
    display: flex;
    width: 100%;
}


.movie-item{
    width: 200px;
}
 
